{
  "IyzicoOptions": {
    "ApiKey": "sandbox-...",
    "SecretKey": "sandbox-...",
    "BaseUrl": "https://sandbox-api.iyzipay.com"
  },
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft.AspNetCore": "Warning"
    }
  },
  "AllowedHosts": "*"
}
